:root {
  --primary-color: rgb(116, 44, 44);
  --secondary-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 15px;
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

header nav {
  margin: 1%;
  background-color: var(--primary-color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background-color: var(--primary-color);
}

header nav ul li a {
  padding: 10px 30px;
  font-size: 25px;
}

h2 {
  padding: 1.5%;
  font-size: 28px;
  margin-right: 100px;
}

#about-me {
  display: flex;
  align-items: center;
}

#about-me h2 {
  white-space: nowrap;
}

.profile-photo img {
  width: 200px;
  height: 300px;
  margin: 30px;
  border-radius: 20px;
}

.introduction p {
  padding: 5% 35% 5% 2%;
  font-size: 18px;
}

#work {
  display: flex;
}

.project {
  max-width: 700px;
  width: 100%;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.project a,
.banner a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-wrapper .project {
  padding: 5%;
}

#contact {
  display: flex;
  justify-content: space-between;
}

.contact-info a,
.social-media a {
  display: inline-block;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.contact-info,
.social-media {
  margin: 1.2%;
}

@media screen and (max-width: 768px) {
  .introduction p {
    padding: 5% 15% 5% 3%;
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  #about-me {
    flex-direction: column;
  }
}
