:root {
  --primary-color: rgb(116, 44, 44);
}

* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 15px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 18px 10px 18px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  padding: 10px 30px;
  font-size: 1.3vw;
}

h2 {
  padding: 20px;
  font-size: 28px;
  margin-right: 100px;
}

#about-me {
  display: flex;
  align-items: center;
}

.profile-photo img {
  width: 200px;
  height: 300px;
  margin: 30px;
  border-radius: 20px;
}

.introduction p {
  padding: 50px 600px 200px 0px;
  font-size: 18px;
}

#work {
  display: flex;
}

.project img {
  width: 700px;
  height: 350px;
  border-radius: 12px;
}

.project a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}

#contact {
  display: flex;
  justify-content: space-between;
}

.contact-info a {
  padding: 0 20px;
}
